---
layout: default
title: Project Euler Javascript
permalink: /project-euler/
---

<div class="posts project-euler">
  <p>I'm working to improve my Javascript skills, so I'm going to work through some Project Euler problems and keep track of my solutions and thoughts.</p> 
  {% for post in site.posts %}
    {% if post.categories contains "project-euler" %}
      <article class="post">

        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      </article>
    {% endif %}
  {% endfor %}
</div>
